:root {
  --clr-text-100: hsl(0, 0%, 96%);
  --clr-text-400: hsl(0, 57.92%, 4.92%);

  --clr-primary-100: hsl(18, 100%, 50%);
  --clr-primary-400: hsl(18, 100%, 63.6%);

  --clr-secondary-100: hsl(216, 94%, 40%);
  --clr-secondary-400: hsl(216, 94%, 26%);

  --clr-accent-100: hsl(37, 100%, 97%);
  --clr-accent-400: hsla(33, 9%, 76%, 0.604);
  --clr-accent-900: hsl(235, 17%, 15%);

  --clr-neutral-100: hsl(36, 91%, 82%);
}